@import "variables";

$app-content-lg: 940px;
$app-content-md: 580px;
$app-content-sm: 360px;

md-content.app-content {
  width: 800px;
  @media screen and (min-width: $layout-breakpoint-lg - 1) {
    width: $app-content-lg;
  }
  @media screen and (max-width: $layout-breakpoint-md) {
    width: $app-content-md;
  }
  @media screen and (max-width: $layout-breakpoint-sm) {
    width: $app-content-sm;
  }
}

@import "../src/home/home";
@import "../src/about/about";